$font_text: 'Ubuntu', sans-serif;

.scanner {
  padding: 68px 0 79px 0;
  background: #00386A;

  .caption {
    font-family: $font_text;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    color: #FFFFFF;
    margin-bottom: 17px;
  }

  p {
    font-family: $font_text;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 25px;
  }

  .button {
    background: #108FFF;
    box-shadow: 0 12px 40px rgba(7, 86, 156, 0.22);
    border-radius: 30px;
    display: inline-block;
    width: 333px;
    margin-bottom: 112px;
    outline: none !important;
    border: 2px solid #108FFF;

    .btn {
      font-family: $font_text;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      text-transform: uppercase;
      padding: 16px 29px;
      color: #FFFFFF;
      outline: none !important;
    }

    &:hover {
      background: #fff;
      .btn {
        color: #108FFF;
      }
    }
  }

  //media

  @media (max-width: 991px) {
    padding: 80px 0;

    .caption {
      margin-top: 0;
      text-align: center;
    }

    p {
      text-align: center;
    }

    .button {
      margin: auto;
    }
  }

  @media (max-width: 768px) {
    padding: 40px 0;

    .caption {
      font-size: 30px;
      margin-bottom: 20px;
      line-height: 30px;
    }
  }

  @media (max-width: 480px) {
    .caption {
      font-size: 28px;
    }
    .button {
      width: 300px;

      .btn {
        padding: 16px 12px;
      }
    }
  }

}