$font_text: 'Ubuntu', sans-serif;

@import "header";
@import "banner";
@import "doctor";
@import "equipment";
@import "ultrasound";
@import "scanner";
@import "reviews";
@import "certificates";
@import "benefits";
@import "office";
@import "footer";

* {
  box-sizing: border-box;
}

body {
  //font-family: 'Open Sans', sans-serif;
  //font-style: normal;
  //font-weight: normal;
  background-color: #fff;
}

.btn:hover, .btn:focus, .btn:active, .btn:visited, .btn:focus-within {
  outline: none !important;
}

.popup-link:hover, .popup-link:focus, .popup-link:active, .popup-link:visited, .popup-link:focus-within {
  outline: none !important;
}

.button:hover, .button:focus, .button:active, .button:visited, .button:focus-within {
  outline: none !important;
}

:focus {
  outline: none !important;
}

a:active, a:focus {
  outline: none !important;
}

input, textarea {
  outline: none !important;
}
input:active, textarea:active {
  outline: none !important;
}
:focus {
  outline: none !important;
}
textarea {
  resize: none !important;
}
textarea {
  resize: vertical !important;
}
textarea {
  resize: horizontal !important;
}

button, a, .btn {
  outline: none !important;
}

input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}

button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}

.button:active, .button:focus {
  outline: none;
}
.button::-moz-focus-inner {
  border: 0;
}

a:active, a:focus {
  outline: none;
}
a::-moz-focus-inner {
  border: 0;
}

.list-reset {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.clearfix:after {
  display: table;
  content: '';
  clear: both;
}

.container {
  max-width: 1280px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.container-fluid {
  padding: 0 0 !important;
}

img {
  width: 100%;
  height: auto;
}

.devgen a {
  font-family: $font_text;
  font-size: 14px;
  line-height: 1.6;
  font-weight: 400;
  letter-spacing: -.02em;
  color: rgba(0, 0, 0, 0.7);
  &:hover {
    text-decoration: none;
  }
}


/////////////////////POPUP///////////////////

.popup {
  background: #FFFFFF;
  max-width: 538px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  padding: 40px 0 40px 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);

  form {
    display: inline-block;
    background: #fff;
    padding: 0 40px 0 40px;
    text-align: center;

    .form-title {
      font-family: 'Ubuntu', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 151.5%;
      text-align: center;
      letter-spacing: 0.1em;
      color: #000;
      margin-bottom: 20px;
    }

    input {
      display: block;
      width: 100%;
      min-height: 42px;
      padding: 15px 8px;
      font-size: 22px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -.02em;
      border-radius: 0;
      border: 1px solid #08203E;
      font-family: $font_text;
      font-style: normal;
      background: transparent;
      outline: none;
      color: #000;
    }

    input[type="text"] {
      margin-bottom:20px;
    }

    input[type="tel"] {
      margin-bottom: 20px;
    }

    input:focus {
      outline: none;
    }

    input::-webkit-input-placeholder { color: #000; }
    input::-ms-input-placeholder { color: #000; }
    input::-ms-input-placeholder { color: #000; }
    input::placeholder { color: #000; }

    button {
      background: #108FFF;
      box-shadow: 0 12px 40px rgba(7, 86, 156, 0.22);
      border-radius: 30px;
      border: 2px solid #108FFF;
      display: inline-block;
      width: 300px;
      margin: auto;
      font-family: $font_text;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      text-transform: uppercase;
      padding: 16px 29px;
      color: #FFFFFF;
      outline: none !important;

      &:hover {
        background: #fff;
        color: #108FFF;
      }
    }

  }

  ///media

  @media (max-width: 580px) {
    padding: 20px 10px;
    form {
      padding: 20px 0 20px 0;
      display: block;

      button {
        width: 250px;
        margin: auto;
        padding: 16px 24px;
      }

      input {
        width: 100%;
      }
    }
  }
}
